body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 30vh;
    background-image: url('ciel.jpeg'); /* Remplacez 'chemin_vers_votre_image.jpg' par le chemin réel de votre image */
    background-color: #333; /* Couleur de fond en cas de non-chargement de l'image */
    color: #fff;
    padding: 0;
    text-align: center;
    background-size: cover; /* Couvrir tout l'espace disponible sans répéter l'image */
    background-position: center; /* Centrer l'image dans le header */
    box-shadow: 0px 4px 18px 0px rgba(0,0,0,0.72);
}

nav {
    position: fixed; /* Fixer la navbar en haut */
    top: 0; /* Aligner en haut */
    width: 100%; /* S'assurer que la navbar s'étend sur toute la largeur */
    padding: 0;
    height: 60px;
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur */
    z-index: 1000; /* S'assurer que la navbar reste au-dessus des autres éléments */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.downTrue{
    background-color: #000000;
    box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.62);
}

nav.downFalse {
    background-color: transparent; /* Initialement transparent */
}

nav.downTrue ul li:hover{
    background-color: #555;
}

.mainLink {
    color: #fff;
    font-size: 20pt;
    text-decoration: none;
    margin-left: 30px;
}

nav ul {
    display: flex;
    justify-content: right; /* Centrer les liens */
    align-items: stretch; /* Étirer les éléments pour qu'ils prennent toute la hauteur */
    gap: 0; /* Supprimer l'espace entre les éléments */
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    margin-right: 30px;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
}

nav ul a {
    display: block;
    flex-grow: 1; /* Permet aux liens de prendre toute la largeur disponible */
    text-align: center;
    color: #fff;
    font-size: 23px;
    text-decoration: none;
    padding: 10px 0; /* Ajouter du padding pour augmenter la zone cliquable */
    transition: color 0.3s; /* Transition pour l'effet de survol */
}

header div {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-left: 250px;
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50pt;
    letter-spacing: 2px;
    margin: 0;
}

main{
    padding: 50px 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 200px;
}

main h2 {
    font-size: 30pt;
    text-align: center;
    margin-bottom: 100px;
}

main .content {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 50px;
}

main .content img {
    width: 400px;
}

main .content p {
    font-size: 20pt;
    line-height: 1.5;
    text-align: justify;
}

.technique div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.technique div img {
    width: 150px;
}

.transversale, .langue {
    width: 100%;
    border-radius: 10px;
    background-color: #F1EAE0;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.56);
    padding: 70px 70px 0 70px;
}
.transversale ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style-type: none;
    margin-bottom: 100px;
    font-size: 1.5em;
}

.langue{
    width: 100%;
    border-radius: 10px;
    background-color: #65847F;
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.56);
    padding: 70px 70px 0 70px;
}

.langue ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    list-style-type: none;
    margin-bottom: 100px;
    font-size: 1.5em;
}

/* projects */

.allProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.allProjects h2 {
    margin-bottom: 0;
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 600px; /* Largeur du conteneur .project */
    height: 550px; /* Hauteur du conteneur .project */
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optionnel: ajoute un peu d'ombre pour le style */
}

.project img {
    width: 350; /* Assure que l'image prend toute la largeur du conteneur .project */
    max-height: 350px;
    height: auto;
}

.project h3, .project p {
    text-align: center; /* Centre le texte du titre et de la description */
    padding: 0 10px;
}
.project h3 {
    font-size: 1.7em; /* Taille du titre */
}

.project p {
    font-size: 1.3em; /* Taille de la description */
}
/* footer */

footer {
    background-color: #242424;
    color: #fff;
    padding: 50px;
    width: 100%;
    box-shadow: 0px -6px 24px 0px rgba(0,0,0,0.71);
}

footer > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    font-size: large;
}

footer div div {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
footer p {
    margin-top: 100px
}

/* form */

.form {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    gap: 20px;
	padding-top: 50px;
}

.form div{
    background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	gap: 5px;
	flex-direction: column;
    align-items: center;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 10px #0005;
	width: 30vw;
}

.form div span{
    text-decoration: underline;
    font-size: 20px;
}

form {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	gap: 5px;
	flex-direction: column;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	box-shadow: 0 0 10px #0005;
	width: 30vw;
}

form h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 5px;
}

form input:not([type="submit"]), form textarea {
	font-size: 20px; /* Augmentez la taille du texte selon vos besoins */
    border: none;
    padding: 10px 20px;
    width: calc(100% - 40px);
    outline: none;
    background-color: white;
    color: black;
    border-bottom: solid 1px #31525B;
    border-radius: 5px 5px 0 0;
}

form textarea {
	border-radius: 5px;
	width: calc(100% - 42px);
	resize: vertical;
	height: 15vh;
	border: 1px solid #31525B;
}

form label {
	position: relative;
}

form label span {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	background-color: #31525B;
	width: 0;
	transition: .30s;
}

form label input:valid+span {
	width: 100%;
}

form input[type="submit"] {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 3px;
	border: solid 1px #31525B;
	color: #31525B;
	background-color: transparent;
	transition: .2s;
    font-size: 20px;
}

form input[type="submit"]:hover {
	background-color: #31525B;
	color: #fff;
}

form span {
	font-size: 16px;
}



